<div>
    <h1>
        Register site
    </h1>
    <p>
        Error: {{ error }}
    </p>
</div>
<div>
    <form method="POST">
        {% csrf_token %}
        <input type="text" id="username" name="username"><br><br>
        <input type="text" id="password" name="password"><br><br>
        <input type="text" id="handle" name="handle"><br><br>
        <input type="text" id="rating" name="rating"><br><br>
        <input class="button" type="submit" value="SUBMIT">
    </form>
</div>