{% extends 'main.html' %}

{% block content %}
<div class="container">
    <h1 class="display-1">
        Challenge List
    </h1>
</div>
<div class="container">
    {% for problem, color, bg_color, gain, loss in challenges %}
    <div class="alert" style="border-width: 2px; border-color: {{color}}; background-color: {{bg_color}};">
        <a class="btn btn-success btn-lg left-text"
            href="https://codeforces.com/contest/{{problem.contest_id}}/problem/{{problem.index}}" target="_blank">
            {{ problem }} </a>

        <a class="btn btn-warning btn-lg right-text" href="{% url 'solve' problem.contest_id problem.index %}"> Pick
            this challenge <span class="text-success">{{gain}}</span> | <span class="text-danger">{{loss}}</span> </a>
    </div>
    {% endfor %}
</div>
{% endblock content %}