{% extends 'main.html' %} {% block content %} {% if api_is_down %}
<div class="alert alert-danger" role="alert">
    Codeforces API is currently down :( Please visit Arugo later :(
</div>
{% else %}
<div class="container">
    {% if state == 1 %}
    <div class="alert alert-success" role="alert">
        Congratulate on solving the last problem!
    </div>
    {% elif state == 2 %}
    <div class="alert alert-warning" role="alert">
        You failed the last challenge :( Try harder ?
    </div>
    {% endif %}
    <h1 class="display-1">Challenge List</h1>
    <h3>Manual Challenge Choice</h3>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="contest_id">Contest ID</label>
            <input
                type="contest_id"
                class="form-control"
                id="contest_id"
                name="contest_id"
                placeholder="e.g: '1425'"
            />
        </div>
        <div class="form-group">
            <label for="index">Problem Index</label>
            <input
                type="index"
                class="form-control"
                id="index"
                name="index"
                placeholder="e.g: 'A'"
            />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div class="container">
        <h3>Suggested Challenge</h3>
    </div>
    {% for problem, color, bg_color, gain, loss, xcolor in challenges %}
    <div
        class="alert container"
        style="border-width: 2px; border-color: {{color}}; background-color: {{bg_color}};"
    >
        <a
            class="btn btn-lg"
            style="text-align: left; background-color: {{bg_color}};"
            href="https://codeforces.com/contest/{{problem.contest_id}}/problem/{{problem.index}}"
            target="_blank"
        >
            {{ problem }}
        </a>
        <a
            class="btn btn-outline-dark btn-lg"
            style="float: right; width: 140px"
            href="{% url 'solve' problem.contest_id problem.index %}"
            ><span class="text-success">{{gain}}</span> |
            <span class="text-danger">{{loss}}</span>
        </a>
    </div>
    {% endfor %}
</div>
{% endif %} {% endblock content %}
