{% extends 'main.html' %}

{% block content %}
<div>
    <h1>
        Register site
    </h1>
    <h2>
        Error:
    </h2>
    {% for err in error%}
        <p>
            {{err}}
        </p>
    {% endfor %}
</div>
<div>
    <form method="POST">
        {% csrf_token %}
        <label for="username">Username / Handle</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password</label><br>
        <input type="text" id="password" name="password"><br>
        <label for="handle">Rating</label><br>
        <input type="text" id="rating" name="rating" value="1400"><br><br>
        <input class="button" type="submit" value="SUBMIT">
    </form>
</div>
{% endblock content %}