{% extends 'main.html' %}

{% block content %}
<div class="container">
    <h1 class="display-1"> Register </h1>
    <p>
        To prove that you own the handle, first head to your Codeforces account and submit a compile error submission to <a
            class="link-primary" href="https://codeforces.com/contest/1302/problem/I" target="_blank">1302I</a>. Please
        make sure that by the
        time you submit
        the request, CE is the last submission.
    </p>
    {% for err in error%}
    <div class="alert alert-danger" role="alert">
        {{err}}
    </div>
    {% endfor %}
</div>
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username / Codeforces Handle </label>
            <input type="username" class="form-control" id="username" name="username"
                placeholder="Example: tourist, ...">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" name="password">
        </div>
        <div class="form-group">
            <label for="rating">Virtual rating</label>
            <input type="text" class="form-control" id="rating" placeholder="Your expected rating" value="1400"
                name="rating">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock content %}