{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Arugo</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>
    
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08"
            aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
            <ul class="navbar-nav">
                {% if not user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home-page' %}"> Arugo </a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="{% url 'login' %}"> Login </a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="{% url 'register' %}"> Register </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-item nav-link" href="{% url 'home-page' %}"> {{profile.handle}} </a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="{% url 'logout' %}"> Logout </a>
                </li>
                    {% if profile.in_progress %}
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="{% url 'challenge' %}"> Challenge </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="{% url 'list' %}"> List </a>
                        </li>
                    {% endif %}
                {% endif %}

                <li class="nav-item">
                    <a class="nav-item nav-link" href="{% url 'help' %}"> About / Help </a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="https://github.com/polarity-cf/arugo" target="_blank"> Github </a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <br>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
    <!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
</body>

</html>